PROJECT_NAME=str
PROJECT_DESCRIPTION=str
PROJECT_VERSION=str

SECRET_KEY = 'django-insecure-tttttttttttt..' # ваш секретный код для джанго
ALLOWED_HOSTS = localhost 127.0.0.1 # хосты для доступа
DEBUG=1 # режим для работы джанго
SQLITE_DB_PATH=str # path to sqlite db

DB_ENGINE=django.db.backends.postgresql # указываем, что работаем с postgresql
POSTGRES_DB=movies_database # имя базы данных
POSTGRES_USER=user # логин для подключения к базе данных
POSTGRES_PASSWORD=12e # пароль для подключения к базе данных
DB_HOST=db
DB_PORT=5432
SCHEMA=str # name of postgres scheme


ES_JAVA_OPTS=-Xms200m -Xmx200m # ограничение подключения ресурсов

SERVICE_URL=http://fastapi/api/v1
ELASTIC_PORT=9200
ELASTIC_HOST=elastic_test
REDIS_PORT=6379
REDIS_HOST=redis_test
REDIS_URL=redis://redis_test:6379
ELASTIC_ADDRESS=http://elastic_test:9200
